
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    background: rgb(6, 107, 102);
    margin: 0;
}
.container {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    margin: 2em auto;
    max-width: 800px;
    padding: 2rem 4rem;
    background: rgb(248, 255, 244);
    overflow: auto;
}
div {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    margin: 2em auto;
    width: fit-content;
    padding: 2rem 4rem;
    background: rgb(248, 255, 244);
}
p {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    margin: 2em auto;
    width: fit-content;
    padding: 2rem 4rem;
    background: rgb(248, 255, 244);
    overflow: auto;
}
form {
    margin: 20px;
    padding: 10px;
}

